<!DOCTYPE html>
<html>
  <head>
    <title>EventBrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Event brite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_event_path%>">créer un évenement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="<%= event_index_path%>">liste des événements</a>
      </li>
    </ul>
    <ul>
    <% if user_signed_in? %>
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a class="nav-link" href="#">"Mon Profil</a></button>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to "se deconnecter", destroy_user_session_path, :method => :delete%></button>
    <% else %>
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to "s'inscrire", new_user_registration_path %></button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to "se connecter", new_user_session_path %></button>
    <% end %>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
